.confirmSignUp-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .confirmSignUp-card {
      padding: 4% 2%;
      width: 80%;
      max-width: 400px;
      margin: 5em auto;
    }
  
    .confirmSignUp-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2em;
    }
  }
  